@charset "UTF-8";
$White: hsl(0, 0%, 100%);
$PaleBlue: hsl(221, 100%, 96%);
$LightLavender: hsl(241, 100%, 89%);
$DarkGrayBlue: hsl(224, 30%, 27%);
$LightSlateBlue: hsl(252, 100%, 67%);
$LightRoyalBlue:  hsl(241, 81%, 54%);
$VioletBlue: hsla(256, 72%, 46%, 1);
$PersianBlue: hsla(241, 72%, 46%, 0);

$LightRed: hsl(0, 100%, 67%);
$OrangeyYellow: hsl(39, 100%, 56%);
$GreenTeal: hsl(166, 100%, 37%);
$CobaltBlue: hsl(234, 85%, 45%);

body {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 18px;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;

  .container {
    max-width: 480px;
  }
}

.results-summary-box {
  & > div {
    padding: 3.2rem 2.4rem;

    h1 {
      font-size: 20px;
    }
  }
}

.result {
  background: linear-gradient($LightSlateBlue, $LightRoyalBlue);
  color: $White;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  border-bottom-left-radius: 3.2rem;
  border-bottom-right-radius: 3.2rem;

  h1 {
    color: $LightLavender;
  }

  .result-point {
    background: linear-gradient($VioletBlue, $PersianBlue);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    aspect-ratio: 1 / 1;

    h2 {
      font-size: 56px;
    }

    p {
      color: $LightLavender;
    }
  }

  .result-text {
    h3 {
      font-size: 24px;
    }

    p {
      color: $LightLavender;
      padding: 0.8rem 1.6rem 0;
    }
  }
}

.summary {
  ul {
    margin: 2.4rem 0;

    li {
      display: flex;
      justify-content: space-between;
      padding: 1.6rem;
      border-radius: 1.2rem;

      & + li {
        margin-top: 1.6rem;
      }

      .summary-title {
        display: flex;
        gap: 0.8rem;
      }

      .summary-point {
        color: $LightLavender;

        span {
          color: $DarkGrayBlue;
        }
      }

      &:nth-of-type(1) {
        background-color: rgba($color: $LightRed, $alpha: 0.05);

        .summary-title {
          color: $LightRed;
        }
      }

      &:nth-of-type(2) {
        background-color: rgba($color: $OrangeyYellow, $alpha: 0.05);

        .summary-title {
          color: $OrangeyYellow;
        }
      }

      &:nth-of-type(3) {
        background-color: rgba($color: $GreenTeal, $alpha: 0.05);

        .summary-title {
          color: $GreenTeal;
        }
      }

      &:nth-of-type(4) {
        background-color: rgba($color: $CobaltBlue, $alpha: 0.05);

        .summary-title {
          color: $CobaltBlue;
        }
      }
    }
  }

  a {
    position: relative;
    display: block;
    z-index: 0;
    background: transparent;
    color: $PaleBlue;
    font-weight: bold;
    text-align: center;
    padding: 1.6rem;
    border-radius: 3.2rem;
    overflow: hidden;

    &::before, &::after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &::before {
      background-color: $DarkGrayBlue;
      z-index: -1;
      transition: 0.3s;
    }

    &::after {
      background: linear-gradient($LightSlateBlue, $LightRoyalBlue);
      z-index: -2;
    }

    &:hover::before {
      opacity: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    align-items: center;

    .container {
      max-width: 720px;
    }
  }

  .results-summary-box {
    display: flex;
    border-radius: 3.2rem;
    box-shadow: 4px 4px 24px rgba($color: $PersianBlue, $alpha: 0.1);

    & > div {
      width: 50%;
      padding: 4rem;
    }

    h1 {
      font-size: 28px;
    }

    .result {
      border-radius: 3.2rem;
      justify-content: space-between;

      .result-point {
        width: 70%;

        h2 {
          font-size: 72px;
        }
      }

      .result-text {
        h3 {
          font-size: 32px;
        }
      }
    }
  }
}